.container {
    max-width: 800px;
}

.header, .footer {
    margin-top: 6rem;
    text-align: center;
}

.heading-font-size {
    font-size: 1.2rem;
    color: #999;
    letter-spacing: normal;
}

.navbar {
    display: none;
}


/* Larger than phone */

@media (min-width: 550px) {
    .header {
        margin-top: 12rem;
    }
    .value-props {
        margin-top: 9rem;
        margin-bottom: 7rem;
    }
    .value-img {
        margin-bottom: 1rem;
    }
    .example-grid .column, .example-grid .columns {
        margin-bottom: 1.5rem;
    }
    .docs-section {
        padding: 6rem 0;
    }
    .example-send-yourself-copy {
        float: right;
        margin-top: 12px;
    }
    .example-screenshot-wrapper {
        position: absolute;
        width: 48%;
        height: 100%;
        left: 0;
        max-height: none;
    }
    .thumbnail {
        padding: 5rem;
        margin: 3rem;
    }
}


/* Larger than tablet */

@media (min-width: 750px) {
    /* Navbar */
    .navbar+.docs-section {
        border-top-width: 0;
    }
    .navbar, .navbar-spacer {
        display: block;
        width: 100%;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
    .navbar-spacer {
        display: none;
    }
    .navbar>.container {
        width: 100%;
    }
    .navbar-list {
        list-style: none;
        margin-bottom: 0;
    }
    .navbar-item {
        position: relative;
        float: left;
        margin-bottom: 0;
    }
    .navbar-link {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #222;
    }
    .navbar-link.active {
        color: #33C3F0;
    }
    .has-docked-nav .navbar {
        position: fixed;
        top: 0;
        left: 0;
    }
    .has-docked-nav .navbar-spacer {
        display: block;
    }
    /* Re-overiding the width 100% declaration to match size of % based container */
    .has-docked-nav .navbar>.container {
        width: 80%;
    }
}


/*Scarletts styles*/


/*  RED:  #f00303; */


/*  GOLD: #3c79810 */

html {
    min-height: 100%;
    background-color: #9d0202;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%23000000' fill-opacity='0.03' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.contrast {
    color: #fff;
}

h1 {
    text-shadow: 0 3px 3px rgba(0, 0, 0, .5);
}

.thumbnail {
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid #c79810;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eab92d+0,c79810+100;Yellow+3D+%232 */
    background: rgb(234, 185, 45);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(234, 185, 45, 1) 0%, rgba(199, 152, 16, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(234, 185, 45, 1) 0%, rgba(199, 152, 16, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(234, 185, 45, 1) 0%, rgba(199, 152, 16, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.lead {
    font-size: 1.8rem;
}

a {
    color: #c79810;
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #FFF;
    background-color: #c79810;
    border-color: #c79810;
    text-transform: lowercase;
    font-size: 1.4rem;
}

.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #c79810;
    border-color: #c79810;
}
